/* resete da pagina*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

/* inicio area das fonts*/
header,
section h2,
section h3, p {
    font-family: "Roboto", sans-serif;
    font-weight:normal
}

h1 {
    text-shadow: 5px 5px 5px black
}

#mensagem h2 {
    font-size: 50px;
}

li,p,h2 {
    text-shadow: 1px 1px 3px black
}



/* ajustando o cabecalho */
header {
    /* border: 1px solid red; */
    padding: 16px 0px ; 
    background-color: rgb(39, 80, 117) ;
    color: #fff;
    margin-bottom: 50px;
}

/* ajustando o texto do cabecalho */
header h1 {
    text-align: center;
    margin-bottom: 16px;
}

/* ajustando os menus do cabecalho */

header nav li  {
    display: inline;
    margin-left: 20px;
    font-size: 16px;
    /* border: 1px solid red; */

/* Retirando o decoration dos menus e trocando a cor */
}
header nav li a  {
    text-decoration: none;
    color: #fff;
    /* border: 1px solid red; */
}

header nav li a:hover {
    color: #072edf;
}

/* Alinhando os menus no centro da pagina */
.menu-itens {
    /* border: 1px solid red; */
    text-align: center;
}
/* Ajustando o conteudo no centro da pagina */
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}




section p {
        /* border: 1px solid red; */
        padding: 16px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between
}

section h2 {

        /* border: 1px solid red; */
        margin-bottom: 16px;
        margin-top: 16px;
        text-align: center;
}

/* section img {
    border: 1px solid red;
    display: flex;  
    overflow: 
} */

section img {
    display: block; /* Garante que a imagem se comporte como um bloco */
    margin: 0 auto; /* Define as margens automáticas para centralizar a imagem */
}


footer {
    padding: 16px 0px ; 
    background-color: rgb(39, 80, 117) ;
    color: #fff;
    text-align: center;
}
